* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: rgb(18, 27, 24);
}

main {
    padding-left: 35%;
    padding-top: 12px;
    background-color: rgb(48, 88, 75);
    color: rgb(20, 19, 19)
}

.js {
    font-size: 20px;
    color: black;
}

h3,
h2,
p {
    color: white;
}